body {
    margin: 60px auto;
    width: 70%;
}

.meme-img {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    object-fit: contain;
}

.meme-name {
	margin: 0;
	margin-bottom: 30px;
	text-align: center;
}